/* -----------GENERAL STYLES--------- */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Fira Sans;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 22px 40px;
}

/* ---------------------------------- */
/* --------------HEADER-------------- */

.top-header-back {
    background-color: #305AB6;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-header-left a {
    display: flex;
    align-items: center;
    color: #fff;
}

.top-header-left {
    display: flex;
    align-items: center;
}

.top-header-text {
    margin: 0 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.set {
    margin: 0 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.top-header-right {
    display: flex;
    align-items: center;
}

.ico-background {
    margin-left: 8px;
    background: #5c9ed1;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    position: relative;
    border: none;
    cursor: pointer;
}

.linkedin:hover {
    background-color: #2878B7;
}

.facebook:hover {
    background-color: #1877F2;
}

.instagram:hover {
    background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}

.youtube:hover {
    background-color: #F40000;
}

.twitter:hover {
    background-color: #55ACE3;
}

.telegram:hover {
    background-color: #2F89CE;
}

.ico-background svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.last-ico {
    background: linear-gradient(180deg, #4318BE 0%, rgba(67, 24, 190, 0) 210%);
    border-radius: 8px;
    margin-left: 20px;
    width: 32px;
    height: 24px;
    padding: 2px 6px;
}

.last-ico:hover {
    background: linear-gradient(180deg, #4318BE 0%, rgba(67, 24, 190, 0) 210%);
    opacity: 0.75;
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-header-left {
    display: flex;
    align-items: center;
}

.bottom-header-left>a {
    margin-right: 28px;
    display: flex;
}

.navbar-list {
    display: flex;
}

.navbar-list-item a {
    margin-right: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #3E4D63;
}

.navbar-list-item a:hover {
    color: #305AB6;
}

.header-hr {
    background: #DBDDE1;
}

/* ---------------------------------- */
/* ------------MAIN SECTION---------- */

.main-section {
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
}

.link-item {
    display: flex;
    align-items: center;
}

.link-item>a {
    margin-right: 9px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3E4D63;
}

.link-item {
    margin: 0 4px;
}

.current-page-link {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #5B7293;
    opacity: 0.5;
}

.aside {
    max-width: 280px;
    width: 100%;
    opacity: 0.85;
    border-radius: 4px;
    margin-top: 24px;
}

.aside-heading {
    background: #305AB6;
    border-radius: 4px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.aside-list-item {
    padding: 12px 20px;
}

.aside-list-item>a {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #3E4D63;
}

.aside-list-item:hover {
    background: #EAF0FD;
    border-radius: 4px;
}

.aside-list-item:hover .aside-list-item-text {
    color: #000;
}

.aside-list-item:hover svg {
    fill: #305AB6;
}

.uzsuvtaminot {
    background-image: url('img/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.uzsuvtaminot-item {
    background-color: #305AB6;
    opacity: 0.85;
    padding: 24px;
    border-radius: 4px;
}

.uzsuv-item-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.uzsuv-item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.uzsuv-item-text span {
    font-weight: 600;
}

.uzsuv-item-text {
    margin: 40px 0;
}

.uzsuvtaminot-item>button {
    background: #EAF0FD;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #305AB6;
    outline: none;
    border: none;
    padding: 12px 80px;
    cursor: pointer;
}

/* ----------------- */
/* -------NEWS------ */

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #3E4D63;
}

.news {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-gap: 24px;
}

.news-item {
    display: flex;
    flex-direction: column;
}

.news-item>img {
    border-radius: 8px 8px 0 0;
}

.article-text {
    background: #F7F8FA;
    border-radius: 0 0 8px 8px;
    padding: 12px;
}

.article-text>p {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #202124;
}

.article-text>time {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #626469;
}

/* --------------------------- */
/* --------LINK BUTTONS------- */

.page-buttons {
    padding: 33px 0;
    text-align: right;
}

.page-buttons>button {
    background: #d8d6d6;
    border-radius: 2px;
    padding: 10px 16px;
    outline: none;
    border: 1px solid #d8d6d6;
    margin: 0 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #626469;
    opacity: 0.5;
    cursor: pointer;
}

.page-buttons>button:focus {
    background-color: #fff;
    color: #000;
    border: 1px solid #EEEFF1;
    font-weight: bold;
}

.page-buttons svg {
    margin: 0 24px;
}

/* ---------------------------- */
/* ----------USEFUL LINK------- */

.useful-link-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide {
    display: flex;
    align-items: center;
}

.slide>a {
    margin: 0 10px;
}

.long-line {
    width: 32px;
    height: 2px;
    background: #5B7293;
    opacity: 0.4;
}

.useful-link-bottom {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 24px;
    margin: 24px 0;
}

.useful-link-bottom-item img {
    max-width: 100px;
    margin: 0 auto;
}

.useful-link-bottom-item {
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    padding: 32px 22px;
}

.link-text {
    color: #3C73E0;
    margin: 10px;
}

/* -------------------------------- */
/* --------------FOOTER------------ */

.footer {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer>img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.top-footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 90px;
}

.last-update {
    background-color: #3E4D63;
    opacity: 0.5;
    border-radius: 10px;
    padding: 12px 16px;
    max-width: 274px;
    margin: 20px 0;
}

.last-update>p {
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.last-update>time {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}